{% extends "layout.html" %}
{% block content %}
    <div class="media-body">
        <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
            <h1>Past Papers</h1>
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                    <tr>
                        <th>GATE Papers/ Subject</th>
                        <th>GATE Exam Year</th>
                        <th>Afternoon</th>
                        <th>GATE Question Paper Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Mechanical Engineering (ME)</td>
                        <td>2022</td>
                        <td>Afternoon</td>
                        <td><a href="https://drive.google.com/file/d/1RJ1cRavGNjN8Q_5Tl1D76jTB_9T18hZR/view?usp=sharing">Click here</a></td>
                    </tr>
                    <tr>
                        <td>Instrumentation Engineering (IN)</td>
                        <td>2022</td>
                        <td>Afternoon</td>
                        <td><a href="https://drive.google.com/file/d/1EfAbWlmjJoewtctNzsoZ1u2hcGj5T9fe/view?usp=sharing">Click here</a></td>
                    </tr>
                    <tr>
                        <td>Electronics and Communication Engineering (EC)</td>
                        <td>2022</td>
                        <td>Afternoon</td>
                        <td><a href="https://drive.google.com/file/d/1fZJqNd88QEAiAzjZmxyjYLOIh_OjkGGT/view?usp=sharing">Click here</a></td>
                    </tr>
                    <tr>
                        <td>Civil Engineering (CE)</td>
                        <td>2022</td>
                        <td>Afternoon</td>
                        <td><a href="https://drive.google.com/file/d/1JaJTjM0tpFnIuvl8MwsDE7Ddxdt2f2s3/view?usp=sharing">Click here</a></td>
                    </tr>
                    <tr>
                        <td>Computer Science and Information Technology (CS)</td>
                        <td>2022</td>
                        <td>Afternoon</td>
                        <td><a href="https://drive.google.com/file/d/1LHh1aWG-nOsOwvHEklOWFrViPiCZBUpU/view?usp=sharing">Click here</a></td>
                    </tr>
                    <tr>
                        <td>Electrical Engineering (EE)</td>
                        <td>2022</td>
                        <td>Afternoon</td>
                        <td><a href="https://drive.google.com/file/d/1rSQ5_hPI9e4KwOYIozbaDxlhqBYYkm6m/view?usp=sharing">Click here</a></td>
                    </tr>
                    <tr>
                        <td>Aerospace Engineering (AE)</td>
                        <td>2022</td>
                        <td>Afternoon</td>
                        <td><a href="https://drive.google.com/file/d/1T10oH3tOSzPM0jopflo1eHYasBw4o0Lv/view?usp=sharing">Click here</a></td>
                    </tr>
                    <tr>
                        <td>Agricultural Engineering (AG)</td>
                        <td>2022</td>
                        <td>Afternoon</td>
                        <td><a href="https://drive.google.com/file/d/1QznbAiyh-KIpNtiJUFqQAUsMaAlY--VZ/view?usp=sharing">Click here</a></td>
                    </tr>
                    <tr>
                        <td>Biomedical Engineering (BM)</td>
                        <td>2022</td>
                        <td>Afternoon</td>
                        <td><a href="https://drive.google.com/file/d/1sVErPO_aywTHKgZ5DAjVcvJG9KLBHaaF/view?usp=sharing">Click here</a></td>
                    </tr>
                    <tr>
                        <td>Biotechnology (BT)</td>
                        <td>2022</td>
                        <td>Afternoon</td>
                        <td><a href="https://drive.google.com/file/d/1N7nnNVLkxTpL5-2jayUx9BohEiaKTc09/view?usp=sharing">Click here</a></td>
                    </tr>
                    <tr>
                        <td>Chemical Engineering (CH)</td>
                        <td>2022</td>
                        <td>Afternoon</td>
                        <td><a href="https://drive.google.com/file/d/1fNp7AXv4TqxyZqmdFNIpHvPkGamgsQgf/view?usp=sharing">Click here</a></td>
                    </tr>
                    <tbody>
                </table>
            </div>    
        </div>
{% endblock %}